{% extends "layout.html" %} {% load static %} {% block load_extra %}
<link rel="stylesheet" href="{% static 'css/inventory.css' %}" />
<script src="{% static 'js/inventory.js' %}"></script>
{% endblock load_extra%}
{% block title %}MediSense: Inventory{% endblock title%} {% block content %}

<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-5">
            <h2>Medicine <b>Management</b></h2>
          </div>
          <div class="col-sm-7">
            <a href="#" class="btn btn-secondary popup-btn" id="popup-btn" role="button">
              <i class="material-icons">&#xE147;</i>
              <span>Add New Item</span>
            </a>
            <a
              href="{% url 'export_inventory_excel' %}"
              class="btn btn-secondary"
              ><i class="material-icons">&#xE24D;</i>
              <span>Export File</span></a
            >
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Status</th>
            <th>Date Added</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for item in inventory_items %}
          <tr>
            <td>{{ item.name }}</td>
            <td><a href="#">{{ item.category }}</a></td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.get_unit_display }}</td>
            <td>
              <span
                class="status {% if item.status == 'In Stock' %}text-success{% elif item.status == 'Low Stock' %}text-warning{% else %}text-danger{% endif %}"
                >&bull;</span
              >
              {{ item.status }}
            </td>
            <td>{{ item.date_added }}</td>
            <td>
<a
  href="#"
  class="settings popup-btn"
  title="Edit"
  data-toggle="tooltip"
  data-edit-url="{% url 'edit_item' item.id %}"
  data-item-id="{{ item.id }}"
>
  <i class="material-icons">&#xE8B8;</i>
</a>
              <a
                href="{% url 'delete_item' item.id %}"
                class="delete"
                title="Delete"
                data-toggle="tooltip"
                ><i class="material-icons">&#xE5C9;</i></a
              >
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="7" class="text-center">No items in inventory.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="clearfix">
        <div class="hint-text">Showing <b>1</b> out of <b>1</b> entries</div>
        <ul class="pagination">
          <li class="page-item disabled"><a href="#">Previous</a></li>
          <li class="page-item active"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-xl">
  <div class="popup">
  <button class="close-btn">&times;</button>
      <form method="POST" class="popup-form" action="{% if edit_item %}{% url 'edit_item' edit_item.id %}{% else %}{% url 'add_item' %}{% endif %}">
  {% csrf_token %}

    <label for="itemName">Item Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="itemName" name="name" placeholder="Enter item name"
             value="{% if edit_item %}{{ edit_item.name }}{% endif %}" autocomplete="off" required>
    </div>

    <label for="quantity">Quantity</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Enter quantity"
             value="{% if edit_item %}{{ edit_item.quantity }}{% endif %}">
    </div>

    <label for="category">Category</label>
    <div class="col-sm-9">
      <select class="form-control" id="category" name="category">
        <option value="" disabled selected>Select category</option>
        {% for val, label in category_choices %}
          <option value="{{ val }}" {% if edit_item and edit_item.category == val %}selected{% endif %}>{{ label }} </option>
        
          {% endfor %}
      </select>
    </div>

    <label for="unit" >Unit</label>
    <div class="col-sm-9">
      <select class="form-control" id="unit" name="unit">
          <option value="" disabled selected>Select unit</option>
        {% for val, label in unit_choices %}
          <option value="{{ val }}" {% if edit_item and edit_item.unit == val %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
    </div>

    <label for="status">Status</label>
    <div class="col-sm-9">
      <select class="form-control" id="status" name="status">
        <option value="" disabled selected>Select status</option>
        {% for val, label in status_choices %}
          <option value="{{ val }}" {% if edit_item and edit_item.status == val %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-sm-9 offset-sm-2">
      <button type="submit" class="btn btn-secondary form-add-item">
        {% if edit_item %} Update Item {% else %} Add Item {% endif %}
      </button>
    </form>
  </div>
</div>
{% endblock content %}
