__pyache__/
*.py[cod]

*.pot

prototpevenv/
venv/
.env/

.vscode/

venv/
prototpevenv/
ENV/
env/
.venv/
.Python

staticfiles/
backend/media/profile_images*.jpg
backend/mediaprofile_images/*.jpeg
backend/mediaprofile_images/*.webp

.DS_Store
Thumbs.db

/backend/backups/
/backend/data


.env

backup/

DEPLOYMENT_CHECKLIST.md
DEPLOYMENT_GUIDE.md