__pyache__/
*.py[cod]

*.pot

prototpevenv/
venv/
.env/

.vscode/

venv/
prototpevenv/
ENV/
env/
.venv/
.Python

staticfiles/
media/

.DS_Store
Thumbs.db

medisense/backend/backups/
medisense/backend/data


.env

backup/

DEPLOYMENT_CHECKLIST.md
DEPLOYMENT_GUIDE.md