{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
  <div id="content-main">
    <h1>{% trans "Password reset" %}</h1>
    <p>{% trans "Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one." %}</p>

    <form method="post">
      {% csrf_token %}
      <div>
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>
      <input type="submit" value="{% trans 'Reset my password' %}">
    </form>
  </div>
{% endblock %}
