/* body {
  margin: 0;
  padding: 0;
  background-color: #549c78;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #ecfff5;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.btn.btn-info.btn-md {
  background-color: #2a8846;
  color: white;
  border-radius: 4px;
  padding: 8px 16px;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --color-main: #0a400c;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 280px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding: 1rem 1.5rem;
  background: var(--color-main);
  color: #fff;
}

/* temp logo */
.templogo {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.templogo .medi {
  color: #fefae0; /* example color */
}

.templogo .sense {
  color: #B1AB86; /* different color */
}

.sidebar-brand {
  height: 100px;
}

.brand-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-icons span {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.sidebar-user {
  margin: 0rem 0rem 1rem 0rem;
  text-align: center;
}

.sidebar-user img {
  width: 130px;
  height: 130px;
  border-radius: 50%;

  border-left: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.sidebar-user h3 {
  margin-top: 1rem;
  font-size: 1rem;
}

.sidebar-user span {
  font-size: 0.8rem;
}

.sidebar-menu {
  margin-top: 3rem;
}

.menu-head {
  text-transform: uppercase;
  color: #b1ab86;
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.sidebar-menu ul {
  margin-bottom: 1.5rem;
}

.sidebar-menu li {
  margin-bottom: 0.8rem;
}

.sidebar-menu li a {
  color: #fefae0;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.sidebar-menu li a span {
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 0.8rem;
}

.sidebar-menu li a:hover {
  color: #b1ab86;
  text-decoration: none;
}

.main-content {
  margin-left: 280px;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  z-index: 10;
  position: relative;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.08);
}

.menu-toggle label {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  border-radius: 50%;
}

.header-icons span {
  display: inline-block;
  margin-left: .7rem;
  font-size: 1.4rem;
}

.menu-toggle label:hover {
  background: #efefef;
}

.main-content {
  margin-left:280px;
}

main {
  padding: 1.5rem;
  background: #efefef;
  min-height: calc(100vh - 70px);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.header-actions button {
  outline: none;
  background: #1a711c;
  opacity: 0.8;
  color: #FEFAE0;
  border: none;
  padding: .6rem 1rem;
  margin-left: 1rem;
  border-radius: 8px;
  font-weight: 600;;
}

.header-actions button span {
  font-size: 1.2rem;
  margin-right: .6rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}